<p>
  Construit avec <a href="https://github.com/matcornic/hugo-theme-learn"><i class="fas fa-heart"></i></a>
  grace à <a href="https://gohugo.io/">Hugo</a>.
</p>
</br>
<p>
  Supports de formation : Laurent Guesde De Gouvea.</br>
  Conçus initialement dans le cadre d'une formation <a href="https://gitlab.com/guesde/pimp-my-website">Orange Code Room</a>.</br>
  Sous <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.fr">licence CC-BY-NC-SA</a> - {{ .Site.Title }}.
</p>
